- if @object.respond_to?('skip_validation')
  %input.skip_validation{type: :hidden, name: @abstract_model.param_key + '[skip_validation]', value: false}
  %input.skip_validation{type: :hidden, name: 'complete_blood_count[leukocyte_count_attributes][skip_validation]', value: false}
